
body {
    
    background-image: url(images/background.jpg);

    margin: 0;
    display: flex;
    justify-content: center; /* Mittig horizontal */
    min-height: 100vh;      
    font-family: "Courier New", Courier, monospace;   
}

/*  4:3 Container */
.main-container {
    width: 800px;           
    max-width: 95%;          
    aspect-ratio: 4 / 3;     
    background-color: rgba(255, 255, 255, 0.45);
    border: 1px solid #ffffff;  
    border-radius: 2px;
    box-shadow: 0 80px 30px rgba(0, 0, 0, 0.192), 
                0 40px 40px rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-sizing: border-box;  
    overflow: auto;  
    font-family: "Courier New", Courier, monospace;     
}

.header-row {
        display: flex;         
        flex-direction: row;    
        align-items: center;    
        justify-content: center; 
        gap: 70px;             
    }
.header-row h1, .header-row h2 {
    margin: 0;                 /* Entfernt Standard-Abstände, die das Zentrieren stören */
}

.picture-row {
        display: flex;         
        flex-direction: row;    
        align-items: center;    
        justify-content: center; 
        gap: 50px;    
        margin: 30px; 
    }

.hr-line {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgba(52, 6, 78, 0.4), transparent);
}

ul{
    list-style-type: "# ";
}
li::marker {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
li {
    color: #000000; /* Farbe des List-Textes */
}

h1 {
    padding-bottom: 5px;
    text-align: center;
    color: rgb(66, 25, 90);
}
h3 {
    color: rgba(0, 0, 0, 0.788);
}
a {
    color: rgb(69, 16, 194);
    text-decoration: underline;
}
a:hover {
    color: #eae3fd; 
    background-color: #fc0b2b69;
}
.credit {
    margin-top: 140px; 
    font-size: 13px;
}


